<article>
  <p><strong><%= @article.title %></strong></p>
  <p><%= @article.summary %></p>
  <p><%= simple_format @article.body %></p>
</article>
<article>
  <% @article.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>

<% if current_user %>
  <%= form_for [@article, Comment.new] do |f| %>
    <%= f.text_area :body, :rows => 5 %>
    <%= f.submit %>
  <% end %>
<% end %>
</article>

<div class="tags"><% @article.tags.each do |tag| %>
  <%= link_to tag.title, tag_path(tag) %>
<% end %>
</div>

<% if session[:last_product_page] %>
  <%= link_to "Powrót", session[:last_product_page], :class => "btn btn-primary" %>
<% end %>