<article>
  <p><strong><%= @article.title %></strong></p>
  <p><%= @article.summary %></p>
  <p><%= simple_format @article.body %></p>
</article>
<article>
  <% @article.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>

<% if current_user %>
  <%= form_for [@article, Comment.new] do |f| %>
    <%= f.text_area :body, :rows => 3 %>
    <%= f.submit %>
  <% end %>
<% end %>
</article>

<div class="tags">
 <% @article.tag_list.each do |tag| %>
  <%= link_to tag, tag_path(tag) %>
<% end %>
</div>

<%= link_to "Powrót", previous_path(category: @category, tag: @tag), :class => "btn btn-primary" %>