<article>
  <p><strong><%= @article.title %></strong></p>
  <p><%= @article.summary %></p>
  <p><%= simple_format @article.body %></p>
</article>
<article>
  <% @article.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <% end %>

<% if current_user %>
  <%= form_for [@article, Comment.new] do |f| %>
    <%= f.text_area :body, :rows => 5 %>
    <%= f.submit %>
  <% end %>
<% end %>


</article>
<p><%= link_to "Powrót", articles_path , :class => "btn btn-primary" %></p>