<% if current_user %>
  <%= form_for @user do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <div class="red">
      <%= f.error_message_on :email %>
    </div>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :surname %>
    <%= f.text_field :surname %>
    
    <%= f.submit %>
  <% end %>
<% end %>