<div class="profil">
  <%= "Dane użytkownika:" %>
</div>

<article><div class="avatar">
  <%= image_tag @user.avatar.url %>
</div>
<p><%= "Imię: #{@user.name}" %></p>
<p><%= "Nazwisko: #{@user.surname}" %></p>
<p><%= "Email: #{@user.email}" %></p></article>

<article>
  <%= link_to "Edytuj", edit_user_path, :class => "btn btn-primary" if current_user.id === @user.id %>
</article>

<div class="profil">
  <%= "Artykuły użytkownika:" %>
</div>

<% @user.articles.each do |article| %>
  <article>  
    <p><strong><%= article.title %></strong></p>
    <p><%= article.summary %><p>
    <p><%= link_to "zobacz artykuł", scoped_article_path(category: @category, tag: @tag, article: article) %></p>

  </article>
<% end %>