<p><div class="ctitle"><%= @tag.title %></div><p>

<% @articles.each do |article| %>
<article>
    <p><strong><%= article.title %></strong></p>
    <p><%= article.summary %></p>
    <p><%= link_to "zobacz artykuł", tag_article_path(article) %></p>
  </article>
<% end %>

<%= paginate @articles %>