<p><div class="ctitle"><%= @category.title %>

<%= "(#{@category.articles.count})" %></div><p>

<% @articles.each do |article| %>
<article>
    <p><strong><%= article.title %></strong></p>
    <p><%= article.summary %></p>
    <p><%= link_to "zobacz artykuł", category_article_path(@category, article) %></p>
  </article>
<% end %>

<%= paginate @articles %>